.ppal {
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  justify-content: center;
  width: 600px;
}

.border {
  border-bottom: 1px dotted #fbd148;

  padding: 10px;
}

.surprised h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fbd148;
}

.surprised p {
  text-align: center;
  color: red;
  font-weight: lighter;
  margin-top: -25px;
  padding: 6px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 6px;
  align-items: center;
  width: 200px;
  font-size: 25px;
  color: #fbd148;

  background-color: rgb(19, 19, 19, 0.7);
  border: 1px solid #fbd148;
  box-shadow: 2px 6px 2px rgba(20, 15, 0, 0.7);

  font-family: "Roboto Slab", serif;
  transition: all 0.7s ease-in-out;
}
