.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/dark-bgd.jpg);
  background-size: cover;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 250px;
  margin-bottom: 60px;
}

.logo {
  width: 320px;
  margin-bottom: -100px;
  margin-top: -50px;
}

.btn {
  border: none;
  border-radius: 10px;
  width: 240px;
  align-items: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fbd148;
  background-color: rgb(19, 19, 19, 0.7);
  box-shadow: 4px 4px 3px rgba(66, 64, 56, 0.7);
  transition: all 1s ease-in-out;
}

button:hover {
  color: #fbd148;
  transform: scale(1.03);
}

/* color-yellow: #FFC93C
light-color: #DBF6E9
sky-blue: #9DDFD3
dark-purple: #31326F
dark-blue: 132C33 */
